doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Быстрый запуск Webpack'
  body
    include ./components/header/header.pug
    .main-background
      .container
        .main-wrapper
          p.main-wrapper-text 
            | Лучшие номера для вашей работы,
            br
            | отдыха и просто вдохновения
          
          