doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Toxin'
  body
    header.header
      .container
        .header-wrapper
          a(href="#")
            img.logo(src=require('./assets/images/Logo.svg'), alt='No photo') 
          ul.list-flex
            li.link О нас
            li.link Услуги
            li.link Вакансии
            li.link Новости
            li.link Соглашения
            li.login войти
            li.registration зарегистрироваться  

       
    