/*_______________________________header_______________________________________*/

.header {
  height: 70px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.list-flex .link {
  position: relative;
  padding: 5px 14px;
  font-size: 14px;
  color: rgba(#1F2041, 50%);
}

.mark::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(#1F2041, 50%);
  border-top: 2px solid rgba(#1F2041, 50%);
  transform: rotate(135deg);
}

.list-flex .login {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
}

.list-flex .registration {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #BC9CFF;
  background: linear-gradient(#BC9CFF);
  border-radius: 22px;
}

/*_______________________________backgroundMain_______________________________________*/


.main-background {
  background-image: url('../images/backgroundMain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*width: 100vw;*/
  height: 100vh;
}

.main-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 18px;
  
}

.main-wrapper-text {
  font-size: 14px;
  color: rgba(#1F2041, 75%);
  line-height: 24px;
  
}

/*______________________________________footer__________________________________________________*/

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-big-nav {
  padding: 100px 0 57px;
}

.footer-text .description {
  margin-top: 17px;
  width: 260px;
  min-width: 260px;
  font-size: 14px;
  color: rgba(31,32,65,.75);
}

.footer-map {
  display: flex;
}

.footer-map-col {
  flex: 1;
  margin-left: 40px;
  margin-bottom: 40px;
}

.footer-map-col:last-child {
    min-width: 260px;
}

.map-col-title {
  padding-top: 4px;
  margin: 0 0 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: rgba(31,32,65,.75);
}

.map-col-item {
  margin-bottom: 14px;
}

.map-col-link {
  text-decoration: none;
  font-size: 14px;
  color: rgba(31,32,65,.50);
}

.map-col-text {
  margin-bottom: 23px;
  font-size: 14px;
  color: rgba(31,32,65,.75);
}

.input-wrapper {
  position: relative;
}

.form-group__input {
    width: 100%;
    border-radius: 4px;
    padding: 13px 15px;
    border: 1px solid rgba(31,32,65,.25);
    color: rgba(31,32,65,.75);
    background-color: #fff;
}

.form-group__input-button {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.714rem;
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    transform: translateY(-50%);
    right: 10px;
    top: 50%;
}

.footer-small-nav {
  border-top: 1px solid #d1d1d4;
  padding: 14px;
}

.footer-small-nav .footer-copyright {
  font-size: 14px;
  color: rgba(31,32,65,.75);
}

.icons-list {
  display: flex;
  align-items: center;
}

.icons-item {
  margin-left: 23px;
}