/*_______________________________header_______________________________________*/

.header {
  height: 70px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.list-flex .link {
  position: relative;
  padding: 5px 14px;
  font-size: 14px;
  color: rgba(#1F2041, 50%);
}

.mark::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(#1F2041, 50%);
  border-top: 2px solid rgba(#1F2041, 50%);
  transform: rotate(135deg);
}

.list-flex .login {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
}

.list-flex .registration {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #BC9CFF;
  background: linear-gradient(#BC9CFF);
  border-radius: 22px;
}

/*_______________________________backgroundMain_______________________________________*/


.main-background {
  background-image: url('../images/backgroundMain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*width: 100vw;*/
  height: 100vh;
}

.main-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 18px;
  
}

.main-wrapper-text {
  font-size: 14px;
  color: rgba(#1F2041, 75%);
  line-height: 24px;
  
}

/*___________________________________footer________________________________________________*/

.footer {
  height: 372px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 100px;
}

.footer-col {
  flex: 1;
  margin-bottom: 40px;
  margin-left: 40px;
}

.footer-col h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.footer-col li {
  margin-bottom: 14px;
}

.footer-col li a {
  font-size: 14px;
  color: rgba(#1F2041, 50%);
  text-decoration: none;
}

.footer-col .footer-logo-text {
  margin: 17px 0 0;
  width: 260px;
  min-width: 260px;
  font-size: 14px;
  color: rgba(#1F2041, 75%);
  line-height: 24px;
}

.footer-col .footer-navigation-subtext {
  font-size: 14px;
  color: rgba(#1F2041, 75%);
  line-height: 24px;
}

.footer-col .footer-navigation-subtext {
  margin-bottom: 23px;
}

.footer-col .footer-form {
  width: 260px;
  height: 44px;
  padding: 13px 15px;
  border: 1px solid rgba(#1F2041, 25%);
  border-radius: 4px;
  font-size: 14px;
  color: rgba(#1F2041, 75%);
  line-height: 24px;
  background: #FFFFFF;
}