.header {
  height: 70px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.list-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.list-flex .link {
  position: relative;
  padding: 5px 14px;
  color: rgba(#1F2041, 50%);
}

.mark::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 8px;
  border-right: 3px solid rgba(#1F2041, 50%);
  border-top: 3px solid rgba(#1F2041, 50%);
  transform: rotate(135deg);
}

.list-flex .login {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  border-radius: 22px;
}

.list-flex .registration {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #BC9CFF;
  background: linear-gradient(#BC9CFF);
  border-radius: 22px;
}